# Ignore Visual Studio files
.vs/

# Ignore temporary files
*.log
*.tmp

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore node_modules (if applicable)
node_modules/

# Ignore environment variables and secrets
.env
# Local Netlify folder
.netlify
