flask
selenium>=4.15.2  # Latest stable version
webdriver-manager>=4.0.0  # Optional, but helps manage drivers locally
gunicorn
requests
googlemaps
chromedriver-autoinstaller
undetected-chromedriver
flask_cors
setuptools